<h2 style="font-family: Agency FB;">Sign up</h2>

<form class="form-horizontal">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group", class="col-sm-10">
    <%= f.label :name %>:
    <%= f.text_field :name, autofocus: true %>
  </div><br />
  
  <div class="form-group", class="col-sm-10">
    <%= f.label :email %>:
    <%= f.email_field :email %>
  </div><br />

  <div class="form-group", class="col-sm-10">
    <%= f.label :password %>:
    <%= f.password_field :password, autocomplete: "off" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
  </div><br />

  <div class="form-group", class="col-sm-10">
    <%= f.label :password_confirmation %>:
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="actions", class="col-sm-10">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</form>

<%= render "devise/shared/links" %>